# Keep RTL-SDR awake (Nooelec NESDR SMArt v5 / Realtek RTL2838)
ACTION=="add|change", SUBSYSTEM=="usb", DEVTYPE=="usb_device", ATTR{idVendor}=="0bda", ATTR{idProduct}=="2838", TEST=="power/control", ATTR{power/control}="on"
ACTION=="add|change", SUBSYSTEM=="usb", DEVTYPE=="usb_device", ATTR{idVendor}=="0bda", ATTR{idProduct}=="2838", TEST=="power/autosuspend", ATTR{power/autosuspend}="-1"
ACTION=="add|change", SUBSYSTEM=="usb", DEVTYPE=="usb_device", ATTR{idVendor}=="0bda", ATTR{idProduct}=="2838", TEST=="power/autosuspend_delay_ms", ATTR{power/autosuspend_delay_ms}="-1"

# Keep the upstream GenesysLogic hub awake (common USB-C dock hub)
ACTION=="add|change", SUBSYSTEM=="usb", DEVTYPE=="usb_device", ATTR{idVendor}=="05e3", ATTR{idProduct}=="0610", TEST=="power/control", ATTR{power/control}="on"
ACTION=="add|change", SUBSYSTEM=="usb", DEVTYPE=="usb_device", ATTR{idVendor}=="05e3", ATTR{idProduct}=="0610", TEST=="power/autosuspend", ATTR{power/autosuspend}="-1"
ACTION=="add|change", SUBSYSTEM=="usb", DEVTYPE=="usb_device", ATTR{idVendor}=="05e3", ATTR{idProduct}=="0610", TEST=="power/autosuspend_delay_ms", ATTR{power/autosuspend_delay_ms}="-1"
